{% extends "base.html" %}

{% block content %}

<!-- Title -->
<h1 class="mt-4">Add Topic</h1>
<hr>

<div class="row">
  <div class="col-12">
    <form method="post">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" required>
      </div>

      <div class="form-group">
        <label>Content</label>
        <textarea name="content" class="form-control" rows="6" required></textarea>
      </div>

      <input name="csrf_token" value="{{ csrf_token }}" hidden>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock content %}
