{% extends "base.html" %}

{% block content %}

<h1 class="my-4">Ninja Tech Forum</h1>
<hr>

{% for topic in topics %}
<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">{{ topic.title }}</h2>
    <p class="card-text text-truncate">{{ topic.content }}</p>
    <a href="/topic/details/{{ topic.key.id() }}" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    Posted on {{ topic.create_time.strftime('%B %d, %Y at %H:%M') }} by
    <a href="#">{{ topic.user_id }}</a>
  </div>
</div>
{% endfor %}

{% endblock content %}
