{% extends "base.html" %}

{% block content %}

<!-- Title -->
<h1 class="mt-4">{{ topic.title }}</h1>

<!-- Author -->
<div class="input-group">
  <p class="lead"> by <a href="#">{{ topic.user_id }}</a>

  {% if user %}

    {% if user.email() == topic.user_id or admin %}
    <!-- Button trigger modal -->
    <button id="{{ topic.key.id() }}" type="button" class="btn btn-danger delete-topic-btn ml-2 btn-sm" data-toggle="modal" data-target="#topicModal">
      Delete
    </button>
    {% endif %}

    {% if not subscribed and user.email() != topic.user_id %}
    <form method="post">
      <button type="submit" class="btn btn-primary ml-2 btn-sm">Subscribe</button>
      <input name="csrf_token" value="{{ csrf_token }}" hidden>
    </form>
    {% endif %}

  {% endif %}

  </p>
</div>

<!-- Modal - delete topic -->
<div class="modal" id="topicModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete topic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete your topic?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form method="post" action="" id="deleteTopicForm">
          <button type="submit" class="btn btn-danger">Delete</button>
          <input name="csrf_token" value="{{ csrf_token }}" hidden>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>
<!-- Date/Time -->
<p>Posted on {{ topic.create_time.strftime('%B %d, %Y at %H:%M') }}</p>
<hr>

<!-- Post Content -->
<p>{{ topic.content }}</p>

<blockquote class="blockquote">
 <footer class="blockquote-footer">{{ topic.title }} by
   <cite title="Source Title">{{ topic.user_id }}</cite>
 </footer>
</blockquote>

<hr>

<!-- Comments Form -->
<div class="card my-4">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
    <form method="post">
      <div class="form-group">
        <textarea name="content" class="form-control" rows="3" required></textarea>
      </div>
      <input name="csrf_token" value="{{ csrf_token }}" hidden>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>


<!-- Comments -->
{% for comment in comments %}

<div class="media mb-4">
 <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
 <div class="media-body">
   <h5 class="mt-0">{{ comment.user_id  }}
     {% if user %}
       {% if user.email() == comment.user_id or admin %}
       <!-- Button trigger modal -->
       <button id="{{ comment.key.id() }}" type="button" class="btn btn-danger delete-comment-btn btn-sm" data-toggle="modal" data-target="#commentModal">
         Delete
       </button>
       {% endif %}
     {% endif %}
   </h5>
   <h6>Posted on: {{ comment.create_time.strftime('%B %d, %Y at %H:%M') }}</h6>
   {{ comment.content }}
 </div>
</div>

{% endfor %}

<!-- Modal - delete comment -->
<div class="modal" id="commentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete your comment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form method="post" action="" id="deleteCommentForm">
          <button type="submit" class="btn btn-danger">Delete</button>
          <input name="csrf_token" value="{{ csrf_token }}" hidden>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extrascripts %}

<script type="text/javascript">
$(function() {
    $(".delete-comment-btn").click(function() {
        var comment_id = $(this).attr("id");
        console.log(comment_id);
        $("#deleteCommentForm").attr("action", "/comment/delete/" + comment_id);
    });

    $(".delete-topic-btn").click(function() {
        var comment_id = $(this).attr("id");
        $("#deleteTopicForm").attr("action", "/topic/delete/" + comment_id);
    });
});
</script>

{% endblock extrascripts %}
