{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>{{ topic.title }} Author: {{ topic.user_id  }}</h3>
    {% if user %}
      {% if user.email() == topic.user_id or admin %}
      <!-- Button trigger modal -->
      <button id="{{ topic.key.id() }}" type="button" class="btn btn-danger delete-topic-btn" data-toggle="modal" data-target="#topicModal">
        Delete
      </button>
      {% endif %}
      {% if not subscribed %}
        <form method="post">
          <button type="submit" class="btn btn-primary">Subscribe</button>
          <input name="csrf_token" value="{{ csrf_token }}" hidden>
        </form>
      {% endif %}
    {% endif %}
  </div>
  <div class="panel-body">
    {{ topic.content }}
  </div>
</div>

<div class="modal fade" id="topicModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete topic</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete your topic?</p>
      </div>
      <div class="modal-footer">
        <form method="post" action="" id="modalForm">
          <button type="submit" class="btn btn-danger">Delete</button>
          <input name="csrf_token" value="{{ csrf_token }}" hidden>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h1>Comments</h1>
{% for comment in comments %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Author: {{ comment.user_id  }}, Date: {{ comment.create_time.strftime('%d-%m-%Y %H:%M') }}</h5>
        {% if user %}
          {% if user.email() == comment.user_id or admin %}
          <!-- Button trigger modal -->
          <button id="{{ comment.key.id() }}" type="button" class="btn btn-danger delete-comment-btn" data-toggle="modal" data-target="#commentModal">
            Delete
          </button>
          {% endif %}
        {% endif %}
    </div>
    <div class="panel-body">
        {{ comment.content }}
    </div>
</div>
{% endfor %}

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete comment</h4>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete your comment?</p>
      </div>
      <div class="modal-footer">
        <form method="post" action="" id="modalForm">
          <button type="submit" class="btn btn-danger">Delete</button>
          <input name="csrf_token" value="{{ csrf_token }}" hidden>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div>
  <form method="post">
    <div class="form-group">
      <label>Comment</label>
      <textarea name="content" class="form-control" rows="6" required></textarea>
    </div>
    <input name="csrf_token" value="{{ csrf_token }}" hidden>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

{% endblock content %}

{% block extrascripts %}

<script type="text/javascript">
$(function() {
    $(".delete-comment-btn").click(function() {
        var comment_id = $(this).attr("id");
        $("#modalForm").attr("action", "/comment/delete/" + comment_id);
    });

    $(".delete-topic-btn").click(function() {
        var comment_id = $(this).attr("id");
        $("#modalForm").attr("action", "/topic/delete/" + comment_id);
    });
});
</script>

{% endblock extrascripts %}
