{% extends "base.html" %}

{% block content %}

<!-- Title -->
<h1 class="mt-4">Your Comments</h1>
<hr>

<!-- User comments -->
{% for comment in user_comments %}

<div class="media mb-4">
 <div class="media-body">
   <h5 class="mt-0">Topic: {{ comment.get_related_topic_title(comment.topic_id) }}
     {% if user %}
       {% if user.email() == comment.user_id or admin %}
       <!-- Button trigger modal -->
       <button id="{{ comment.key.id() }}" type="button" class="btn btn-danger delete-comment-btn btn-sm" data-toggle="modal" data-target="#commentModal">
         Delete
       </button>
       {% endif %}
     {% endif %}
   </h5>
   <h6>Posted on: {{ comment.create_time.strftime('%B %d, %Y at %H:%M') }}</h6>
   {{ comment.content }}
 </div>
</div>
<hr>

{% endfor %}

<!-- Modal - delete comment -->
<div class="modal" id="commentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete your comment?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form method="post" action="" id="deleteCommentForm">
          <button type="submit" class="btn btn-danger">Delete</button>
          <input name="csrf_token" value="{{ csrf_token }}" hidden>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extrascripts %}

<script type="text/javascript">
$(function() {
    $(".delete-comment-btn").click(function() {
        var comment_id = $(this).attr("id");
        $("#deleteCommentForm").attr("action", "/comment/delete/" + comment_id);
    });
});
</script>

{% endblock extrascripts %}
